<h1>Add Story</h1>
<div class="row">
    <form action="/stories" method="post" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" name="title">
                <label for="title">Title</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select name="status" id="">
                    <option value="public" selected>Public</option>
                    <option value="private">Private</option>
                    <option value="unpublished">Unpublished</option>
                </select>
                <label for="status">Status</label>
            </div>
        </div>

        <div class="row">
            <p>
                <input type="checkbox" name="allowComments" id="filled-in-box" checked="checked" class="filled-in">
                <label for="allowComments">Allow Comments</label>
            </p>
        </div>

        <div class="row">
            <div class="input-field">
                <h5>Tell Us your Story</h5>
                <textarea name="body" ></textarea>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <h3></h3>
                <select name="" id=""></select>
                <select name="" id=""></select>
                <select name="" id=""></select>
                <select name="" id=""></select>
                <select name="" id=""></select></div>
        </div>

        <input type="submit" value="Save" class="btn">
    </form>
</div>